/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Mar, 2021, 3:05:45 PM
    Author     : mujthaba
*/
body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.invoice {
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 10px 25px;
}
.address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.page-header>small {
    color: #666;
    display: block;
    margin-top: 5px;
}
.pull-right {
    float: right!important;
}

@media (min-width: 768px){
    .lead {
        font-size: 21px;
    }
}